.FoodGraph {
  display: flex;
  align-items: center;
  width: 70%;
}

.FoodGraph-img {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.FoodGraph-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.FoodGraph-number {
  font-weight: 700;
}

.FoodGraph-category {
  font-size: 0.7em;
}
