.CustomTooltipBar {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  outline: none;
  background-color: #ff0101;
  padding: 10px 5px;
}

.CustomTooltipBar p {
  margin: 5px 0;
}

.CustomTooltipBar:active {
  outline: none;
}
.CustomTooltipBar:focus {
  outline: none;
}
.CustomTooltipBar:focus-visible {
  outline: none;
}

.CustomTooltipBar:current {
  outline: none;
}
