.Legend {
  width: 100%;
  display: flex;
  font-weight: 500;
  color: #000000;
  /*background-color: #943ade;*/
  align-items: start;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 10px;
}

.Legend__item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 0.8em;
}

.Legend h2 {
  font-size: 0.8em;
  font-weight: 500;
  color: black;
}

.Legend__circle {
  background: red;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 10px;
}

.Legend__circle--black {
  background: black;
}

.Legend-items {
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Legend-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  /*background-color: chartreuse;*/
}
